* {
  background-color: #000099;
}

#title {
  align: center;
  color: #cc9900;
  font-size: 38px;
  text-decoration: underline;
}

.operators {
  height: 100Px;
  width: 100Px;
  font-size: 44px;
  color: #cc9900;
  border-color: #cc9900;
  font-weight: bold;
}

#calculator-screen {
  height: 100Px;
  width: 410Px;
  text-align: right;
  font-size: 50px;
  color: #cc9900;
  border-color: #cc9900;
  font-weight: bold;
}

#bears {
  height: 500px;
  width: 350px;
  border: 10px solid transparent;
  border-color: #cc9900;
}

#zero {
  width: 204px;
}
